---
layout: default
---

<div class="content">
{% for post in paginator.posts %}
	<article class="post-page">
		<h2 class="post-page-title"><a href="{{ post.url }}" title="{{ post.title }}" rel="bookmark">{{ post.title }}</a></h2>
		<small class="date">{{ page.date | date: "%d %B, %Y" }}</small>
		{% if post.excerpt %}
			{{ post.excerpt | markdownify }}
			<p><a href="{{ post.url }}" class="more-link">Read More</a></p>
		{% else %}
			{{ post.content }}
		{% endif %}
	</article>
{% endfor %}

<section class="pagination">
	{% if paginator.previous_page %}
	{% if paginator.previous_page == 1 %}
	<a href="/" class="pagination-prev">Recentes</a>
	{% else %}
	<a href="/page{{paginator.previous_page}}" class="pagination-prev">Recentes</a>
	{% endif %}
	{% endif %}

	{% if paginator.next_page %}
	<a href="/page{{paginator.next_page}}" class="pagination-next">Antigos</a>
	{% endif %}
</section>

</div>