<meta charset="UTF-8">
<meta http-equiv="X-UA-Compatible" content="chrome-1">
<meta name="viewport" content="width=device-width">

<!-- Prefecth DNS -->
<link rel="dns-prefetch" href="//fonts.googleapis.com">
<link rel="dns-prefetch" href="//platform.twitter.com">
<link rel="dns-prefetch" href="//p.twitter.com">
<link rel="dns-prefetch" href="//cdn.api.twitter.com">
<link rel="dns-prefetch" href="//www.google-analytics.com">
<link rel="dns-prefetch" href="//themes.googleusercontent.com">

<title>{{ page.title }} &ndash; Lucas</title>

<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Ubuntu:300,500,300italic">
<link rel="stylesheet" href="http://fonts.googleapis.com/css?family=Source+Sans+Pro:400italic,700italic,400,700">

<link rel="stylesheet" href="/css/style.css">

<!-- <link rel="shortcut icon" href="#"> -->
<link rel="author" href="https://plus.google.com/110711903987736923620/posts">
<meta name="description" content="HTML5, CSS3, JavaScript, PHP, Rails and other stuffs">

<!--[if lt IE 9]>
	<script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/3.6.1/html5shiv.js"></script>
<![endif]-->